html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

th {
    text-align: right;
    vertical-align: top;
    width: 30%;
}

h2,
h3 {
    color: #2d3e50;
}

body {
    font-family: 'Quicksand', sans-serif;

    margin: 0;
    padding: 0;
}

header {
    display: inline;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #2d3e50;
    text-align: center;
    color: white;
}

nav ul {
    padding-inline: 4rem;
    display: flex;

    gap: 2rem;
}

nav li {
    list-style-type: none;
}

nav {
    background-color: #425c77;
    padding: 5px;

    position: sticky;
    top: 0;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;

    color: white;
}

nav a:hover {
    font-weight: bold;
}

main {
    padding: 20px;

    display: flex;
    gap: 1.5rem;
}

#keterampilan ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
}

#keterampilan li {
    display: flex;
    justify-content: center;
}

.skill-item {
    border: 2px solid #2d3e50;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 120px;
    color: white;
    background-color: #2d3e50;
    border-radius: 10px;
}

.skill-item:hover {
    border: 3px solid #2d3e50;
    background-color: transparent;
    color: #2d3e50;
}

#keterampilan i {
    font-size: 2rem;
}

span {
    margin-bottom: -10px;
}

#keterampilan p {
    font-size: 1rem;
}

.container-gallery {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.gallery-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: lightgrey;
}

.gallery-item:nth-child(odd) {
    flex-direction: row;
}

.gallery-item:nth-child(even) {
    flex-direction: row-reverse;
}

.featured-image {
    width: 50%;
    object-fit: cover;
    border-radius: 5px;
}

.gallery-item .text {
    width: 50%;
}

.profile header {
    text-align: center;
}

.featured-image {
    width: 100%;
    max-height: 300px;

    object-fit: cover;
    object-position: center;
}

.profile img {
    width: 200px;
    border: 5px solid #2d3e50;
}

#profile {
    max-width: 100%;
    position: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    padding: 20px;
}

#content {
    flex: 3;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

#kontak {
    margin-top: 20px;
}

aside {
    flex: 1;

}

figure img {
    border-radius: 99px;
}

.kontak ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    flex-wrap: wrap;
}

.kontak li {
    display: inline;
}

.kontak a {
    text-decoration: none;
    font-size: 1.5rem;
    color: inherit;
}

.kontak i {
    font-size: 3rem;
    margin-right: 10px;
    color: #2d3e50;
}

footer {
    padding: 20px;
    color: white;
    background-color: #2d3e50;

    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;
    }

    main aside {
        align-self: center;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        justify-content: center;
    }

    main aside {
        align-self: stretch;
    }

    .gallery-item {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .gallery-item .text,
    .gallery-item .featured-image {
        width: 100%;
    }
}

.to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #2d3e50;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.to-top-btn:hover {
    background-color: #00a2c6;
}